.btn-primary {
    background: linear-gradient(
            180deg
            ,#1f1f22,#181b1e 5%,#18262d);
    background-image: linear-gradient(rgb(31, 31, 34), rgb(24, 27, 30) 5%, rgb(24, 38, 45));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    color: #9e8a57!important;
    border: 2px solid #6c5f38;;
}


